body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    overflow-x: hidden;
}

strong { font-weight: 600; }

a, a:hover, a:focus { color: #9b59b6; text-decoration: none; transition: all .3s; }

h1, h2 {
	margin-top: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
    font-weight: 800;
    color: #345CAA;
    line-height: 50px;
}

h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
    font-weight: 300;
    color: #345CAA;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}
.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}


/* Navbar */

.navbar {
	background: #345CAA;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg {background: #345CAA;}

.navbar-dark .navbar-nav { font-size: 15px; color: #ffffff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #ffffff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #FFCF00; }
.navbar-dark .navbar-nav .nav-link:focus { color: #FFCF00; outline: 1; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 1rem; }

/* Top Content */

.logo-img {
	margin-top: 14%;
	margin-left: 15%;

	height: 300px;
}

.topbulb-img {
	padding-top: 45px;
}

@media screen and (max-width: 420px)
{
	.topbulb-img {
		margin:0 auto;
		margin-top: 80px;
	}

	.logo-img {
		margin-left:5%;
	}
}

@media screen and (max-width: 550px)
{
	.top-head {
		margin-top: 30%;
	}
}

@media screen and (max-width: 768px)
{
	.logo-img {
		height: 250px;
		padding-top: 40px;
	}
}

@media screen and (max-width: 1000px)
{
	.topbulb-img {
		padding-top: 65px;
	}
}


/* Scroll-down arrow */

.top-arrow {
	margin-top: 15%;
	padding-bottom: 80px;
	text-align: center;
}

.top-arrow a {
	font-size: 40px;
    color: #000000;
    line-height: 40px;
}

.top-arrow a:hover, .top-arrow a:focus { color: #345CAA; }


/* Start-up story */

#comic {
	 float: left;
	 border: double;
	 margin: 10%;
}

.text-wrapper {
	  margin-top: 100px;
	  height: 300px;
	  position: relative;
	  width: 300px;
}

.text-block {
	background-color: #FFCF00;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	color: white;
	position: relative;
	margin: 0;
}

.text {
	font-weight: 400;
	width: 100%;
	font-family:  'Indie Flower', cursive;
	padding: 71px;
	font-size: 1.3rem;
}

.text a {
	color: black;
	border-bottom: 1px dashed black;
	font-size: 1.2rem;
}
.text a:hover, 
.text a:focus { 
	color: #345CAA; 
	border: 0; 
}

@media screen and (max-width: 754px)
{
	.text-wrapper {
		margin-left: 80px;
		margin-top: 0px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px)
{
	.text-wrapper {
		width: 75%;
	}

	.text-block {
		border-radius: 48%;
		margin-bottom: 35px;
	}

	.text {
		padding: 70px;
		width: 100%;
	}
}

/* About Us*/

.about-us-box-text {
	margin-top: 8%;
}

.story {
	width: 100%;
	margin-top: 13%;
	margin-bottom: 5%;
}

.about-us-container {
	margin-left: 2%;
	margin-right: 2%;
}

.about-us-box-img {
	margin-top: 5%;
}

@media screen and (max-width: 400px)
{
	.about-us-container {
		margin-top: 50px;
	}
}

@media screen and (max-width: 768px)
{
	.about-us-box-img {
		margin-top: 0px;
	}
}


/*How We Work*/

.how-container {
	margin: 2%;
	padding: 7%;
	background-color: #FFCF00;
	transform: skew(0deg, -5deg);
	margin-top: 4%;
	border-radius: 2%;
}

.how-box-text {
	text-align: left;
	color: #000000;
	font-weight: 400;
	font-size: 1rem;
	transform: skew(0, 5deg);
}

.how-box-img {
	margin-left: 2%;
	transform: skew(0, 5deg);
}

/* Why And What */

.why-box-text {
	margin-top: 5%;
	text-align: left;
}

.why-box-img {
	margin-top: 2%;
}

@media screen and (max-width: 600px) 
{
	#why-sm {
		transform: skew(0deg, -4deg);
	}

	.why-box-text {
		margin-top: 7%;
	}
}


/* Stats */
.stats-container {
	margin: 2%;
	padding: 7%;
	background-color: #FFCF00;
	transform: skew(0deg, 5deg);
	margin-top: 4%;
	border-radius: 2%;
}

.stats-font {
	margin-top: 15%;
	font-family: 'Bungee Outline', cursive;
	font-size: 5rem;
	font-weight: 1000;
	color: #000000;
	text-align: left;
	transform: skew(0deg, -5deg);
}

.stats-main-heading {
	transform: skew(0deg, -5deg);
}

.stats-p {
	transform: skew(0deg, -5deg);
	color: #000000;
}

/* Portfolio */
.portfolio-box {
	padding-top: 30px;
	text-align: left;
}

.portfolio-box-image {
	overflow: hidden;
	border-radius: 4px;
}

.portfolio-box-image img {
	-o-transition: all .8s; -moz-transition: all .8s; -webkit-transition: all .8s; -ms-transition: all .8s; transition: all .8s;
}

.portfolio-box-image:hover img {
	-o-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-transform: scale(1.25); -ms-transform: scale(1.25); transform: scale(1.25);
}

.portfolio-box h3 {
	margin-top: 30px;
}

.portfolio-box h3 a { color: #345CAA; }

.portfolio-box h3 a:hover, .portfolio-box h3 a:focus { color: #9b59b6; }

.portfolio-box h3 i {
	padding-left: 10px;
	color: #ccc;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.portfolio-box h3:hover i { padding-left: 15px; }

.portfolio-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.portfolio-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.portfolio-container .section-bottom-button {
	padding-top: 40px;
}

.badge-pill {
	text-align: center;
	align-items: center;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

/* Testimonials */

.testimonial-list .testimonial-text {
	margin-top: 5%;
	opacity: 0.8;
	margin-bottom: 8%;
	margin-left: 0px;
	margin-right: 0px;
}

.testimonial-list .nav-tabs {
	margin-top: 45px;
    border: 0;
    justify-content: center;
}

.testimonial-list .nav-tabs li {
	margin-left: 10px;
    margin-right: 10px;
}

.testimonial-list .nav-tabs li a {
    width: 16px;
    height: 16px;
    padding: 0;
    border: 2px solid black;
    border-color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus {
	background: #000000;
	background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-color: rgba(255, 255, 255, 0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus {
	background: #ffffff;
	border: 0;
}

.testimonial-text {
	color: #000000;
	font-family: 'Indie Flower', cursive;
}

.testimonials-section {
	background-color: #FFCF00;
	margin: 2%;
	border-radius: 30px;
	font-size: 1.2rem;
}

/* Categories */

.categories-individual {
	display: inline;
	background-color: #FFCF00;
	border-radius: 20px;
	width: 230px;
	height: 320px;
	margin-left: 8%;
	margin-top: 5%;
	align-items: center;
}

.card-title {
	text-align: center;
	padding-top: 20%;
	color: #000000;
	font-weight: 600;
	align-items: center;
}

.container-h1 {
	text-align: left;
	margin-top: 10%;
}

.btn-primary {
	margin-top: 70px;
	background-color: #345CAA;
	border-color: #e89411;
	border-radius: 20px;
}

.btn-primary:hover {
	background-color: #ffffff;
	color: #345CAA;
}

@media screen and (max-width: 450px)
{
	.categories-individual {
		align-items: center;
		height: 220px;
		margin-left: 18%;
		border-radius: 50%;
	}

	.btn-primary {
		margin-top: 40px;
	}
}

/* Let's build together */

.connect {
	font-size: 1.2rem;
}

.build-box-text {
	text-align: left;
}

@media screen and (min-width: 740px)
{
	.build-box-text {
		margin-top: 50px;
	}
}

@media screen and (min-width: 760px)
{
	.build-box-img {
		margin-top: 5%;
	}
}

/* Apply Form */

.form-group {
	padding-left: 18%;
	align-items: center;
	float: center;
	text-align: left;
	background-color: #FFCF00;
	border-radius: 20px;
	padding: 30px;
}

#div1 {
	padding-top: 9px;
	border-radius: 2px;
}

label {
	font-weight: 600;
	padding-top: 30px;
}

.submit-button {
	margin-left: 40%;
}

@media screen and (max-width: 600px)
{
	.form-group {
		width: 70%;
		margin-left: 14%;
	}
}


@media screen and (max-width: 300px)
{
	.form-row {
		width: 220px;
		margin-right: 10%;
	}
}


@media screen and (max-width: 470px)
{
	.form-group {
		width: 300px;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Bottom image */
.bottom-img {
	margin-top: 50px;
	align-items: center;
	width: 10%;
	margin:0 auto;
}


/* Footer */


footer {
	margin-top: 70px;
	padding: 40px 0 0 0;
	background: #345CAA;
	color: #ffffff;
	text-align: left;
}

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: #ffffff;
}
.footer-right a:hover, .footer-right a:focus { color: #FFCF00; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #ffffff;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #FFCF00; }

@media only screen and (max-width: 767px​){ .responsive.html_header_sidebar #top { position: relative; } }

body, html {
    overflow-x: hidden; }